<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pgc_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pgc</label>

                <field id="username" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>config_http_user</label>
                    <config_path>pgc/general/username</config_path>
                </field>
                <field id="password" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>config_http_password</label>
                    <config_path>pgc/general/password</config_path>
                </field>
                <field id="host" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Host</label>
                    <config_path>pgc/general/host</config_path>
                </field>

                <group id="pgc_cc" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CreditCard</label>

                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>text_enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/pgc_creditcard/active</config_path>
                    </field>
                    <field id="api_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Api Key</label>
                        <config_path>payment/pgc_creditcard/api_key</config_path>
                    </field>
                    <field id="shared_secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>config_merchant_secret</label>
                        <config_path>payment/pgc_creditcard/shared_secret</config_path>
                    </field>
                    <field id="integration_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Integration Key</label>
                        <config_path>payment/pgc_creditcard/integration_key</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <config_path>payment/pgc_creditcard/sort_order</config_path>
                    </field>
                </group>

            </group>

        </section>
    </system>
</config>
