<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pgc>
            <general>
                <username></username>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <sandbox>1</sandbox>
            </general>
        </pgc>
        <payment>
            <pgc_creditcard>
                <model>PgcPaymentGatewayFacade</model>
                <title>Payment Credit Card</title>
                <payment_action>authorize</payment_action>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <debug>1</debug>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_authorize_vault>1</can_authorize_vault>
                <order_status>pending</order_status>
                <environment>sandbox</environment>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <shared_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <integration_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <seamless>0</seamless>
                <debugReplaceKeys>MERCHANT_KEY</debugReplaceKeys>
                <paymentInfoKeys>FRAUD_MSG_LIST</paymentInfoKeys>
                <privateInfoKeys>FRAUD_MSG_LIST</privateInfoKeys>
            </pgc_creditcard>
            <pgc_cc_vault>
                <model>PgcCreditCardVaultFacade</model>
                <title>Stored Cards (Pgc)</title>
                <active>0</active>
            </pgc_cc_vault>
        </payment>
    </default>
</config>
